# Dependencies
node_modules/
.pnpm-store/
.pnpm-debug.log

# Production
dist/
build/

# Testing
coverage/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo 

resources/
src/utils/
src/life-of-a-loan.ts
src/loan-progress-demo.ts
src/demo.ts